<a href="https://colab.research.google.com/github/mohanraju2002/MACHINE_LEARNING/blob/main/DIABETES__PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DIABETES PREDICTION BY USING MACHIONE LEARNING**

**STEP 1: IMPORT THE LIBRARIES**

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

**STEP 2:LOAD THE DATA**

In [6]:
from google.colab import files
upload=files.upload()

Saving diabetes_dataset_600_rows.csv to diabetes_dataset_600_rows (1).csv

In [7]:
# UNDERSTANDING THE DATA_FRAME

df=pd.read_csv("diabetes_dataset_600_rows.csv")
print("shape:",df.shape)
print("columns:",df.columns)

shape: (600, 9)
columns: Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
# PRINT THE TOP FIVE RECORDS
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      138             63  ...                     0.139   57        0
1            3       91             58  ...                     1.977   37        0
2           12      162             89  ...                     0.399   43        1
3           14      145            115  ...                     2.014   44        0
4           10      155             74  ...                     1.578   38        0

[5 rows x 9 columns]

In [9]:
# GETTING THE STATISTICAL MEASURE OF THE DATA
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   600.000000  600.000000  ...  600.000000  600.000000
mean      6.925000  133.840000  ...   49.405000    0.516667
std       4.363612   37.664999  ...   18.109783    0.500139
min       0.000000   70.000000  ...   18.000000    0.000000
25%       3.000000  102.000000  ...   34.000000    0.000000
50%       7.000000  133.500000  ...   49.000000    1.000000
75%      11.000000  166.000000  ...   65.250000    1.000000
max      14.000000  199.000000  ...   79.000000    1.000000

[8 rows x 9 columns]

In [10]:
# TO FIND THE NUMBER OF PEOPLES SUFFERED FROM DIABETES
df["Outcome"].value_counts()

Outcome
1    310
0    290
Name: count, dtype: int64

1 --> DIABETES

O --> NO DIABATES

In [11]:
# GROUP BY  DIABETES AND NO DIABATES
df.groupby("Outcome").mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           6.955172  135.879310  ...                  1.307872  50.462069
1           6.896774  131.932258  ...                  1.367948  48.416129

[2 rows x 8 columns]

**STEP 3:DATA PREPARATION**

In [12]:
X=df.drop("Outcome",axis="columns")
y=df["Outcome"]

In [13]:
X

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      138             63  ...  20.1                     0.139   57
1              3       91             58  ...  32.6                     1.977   37
2             12      162             89  ...  41.3                     0.399   43
3             14      145            115  ...  33.9                     2.014   44
4             10      155             74  ...  24.1                     1.578   38
..           ...      ...            ...  ...   ...                       ...  ...
595           12       93            115  ...  26.4                     0.578   19
596            4      150            113  ...  31.0                     0.208   25
597            0      189            119  ...  31.7                     0.403   24
598           12      128            112  ...  28.5                     1.450   73
599            6      197             82  ...  42.5                     1.936   61

[600 rows x 8 columns]

In [14]:
y

0      0
1      0
2      1
3      0
4      0
      ..
595    1
596    0
597    0
598    0
599    1
Name: Outcome, Length: 600, dtype: int64

In [15]:
# STANDARIZED THE DATA
scalar=StandardScaler()
standarized_data=scalar.fit_transform(X)
print(standarized_data)

[[-0.21215722  0.11053952 -1.06705536 ... -1.48739873 -1.76773335
   0.4197365 ]
 [-0.90023469 -1.1383445  -1.318344   ...  0.10909365  0.94004422
  -0.68556041]
 [ 1.16399771  0.74826754  0.23964561 ...  1.22025234 -1.38469626
  -0.35397134]
 ...
 [-1.58831215  1.46571155  1.74737748 ... -0.00585381 -1.37880339
  -1.40400341]
 [ 1.16399771 -0.15518048  1.39557338 ... -0.41455585  0.16365751
   1.30397403]
 [-0.21215722  1.67828756 -0.1121585  ...  1.37351561  0.87964222
   0.64079589]]

In [16]:
X=standarized_data
y=df["Outcome"]
print(X)
print(y)

[[-0.21215722  0.11053952 -1.06705536 ... -1.48739873 -1.76773335
   0.4197365 ]
 [-0.90023469 -1.1383445  -1.318344   ...  0.10909365  0.94004422
  -0.68556041]
 [ 1.16399771  0.74826754  0.23964561 ...  1.22025234 -1.38469626
  -0.35397134]
 ...
 [-1.58831215  1.46571155  1.74737748 ... -0.00585381 -1.37880339
  -1.40400341]
 [ 1.16399771 -0.15518048  1.39557338 ... -0.41455585  0.16365751
   1.30397403]
 [-0.21215722  1.67828756 -0.1121585  ...  1.37351561  0.87964222
   0.64079589]]
0      0
1      0
2      1
3      0
4      0
      ..
595    1
596    0
597    0
598    0
599    1
Name: Outcome, Length: 600, dtype: int64

**STEP 4: SPLITTING THE DATA**

In [17]:
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=0)

**STEP 5:MODEL CREATION**

In [18]:
model=SVC()

**STEP 6: TRAIN THE MODEL**

In [19]:
model.fit(x_train,y_train)
a=model.predict(x_train)
print(accuracy_score(a,y_train))

0.6911111111111111

**STEP 7: PREDICT THE MODEL**

In [20]:
print(model.predict([[6,118,13,10,25,21,0.139,57]]))

[1]

# **CHECKING THE ERRORS**

**MEAN SQUARE ERROR**

In [24]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(a,y_train)
print(mse)

0.3088888888888889

**ROOT MEAN SQUARE ERROR**

In [28]:
from sklearn.metrics import mean_squared_error
import numpy as np
mse=mean_squared_error(a,y_train)
rmse=np.sqrt(mse)
print(rmse)

0.5557777333511023

**MEAN ABSOLUTE ERROR**

In [30]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(a,y_train)
print(mae)

0.3088888888888889